*.swp
autom4te.cache
build-aux
m4
aclocal.m4
Makefile
Makefile.in
configure
.deps
*.a
*.la
*.o
*.lo
config.log
config.status
.libs
libtool
.dirstamp
/draw
/xdpyinfo
/xlsfonts
/shmput
/shmget
/xev
/cursors
/xsrv
/dbe
/xkbbell
/xmousepos
/setmousepos
/anim
/move
/keyboard
/xwininfo
/tree
/xprop
/xwm
/grabbutton
/circulate
/border_pixmap
/pointer
/xkbvleds
/xlsatoms
/getimage
/background_pixel
/xterm
/xrender
/xsysmon
